.scramble-game-section .stats {
	display: flex;
	justify-content: center;
	gap: 32px;
	margin-bottom: 32px;
}

.scramble-game-section .stat {
	text-align: center;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	width: 100px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.scramble-game-section .timer.warning {
	color: #d9534f;
	animation: pulse 1s infinite;
}
.scramble-game-section .timer {
	color: #c87941;
}
.scramble-game-section .stat-value {
	font-size: 28px;
	font-weight: 500;
	color: #2d2d2d;
}

.scramble-game-section .stat-label {
	font-size: 13px;
	color: #6b6b6b;
	margin-top: 4px;
}
