*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 100dvw;
	background-color: var(--bg-primary);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

#root {
	width: 100%;
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr;
}

main {
	display: flex;
	justify-self: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 100dvw;
}


.game-wrapper {
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: var(--spacing-2xl);
	gap: 2rem;
}
